<!DOCTYPE html>

<html>
  <head>
    <script src="{{ url_for('static',filename='styles/jquery-3.1.1.min.js') }}"> </script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/semantic/dist/semantic.min.css') }}">
    <script src="{{ url_for('static',filename='styles/semantic/dist/semantic.min.js') }}"> </script>
    <meta charset ="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTX Extraction Tool</title>
  </head>

  <body>

    <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <a href=/ class='item'>Home</a>
        <a href=entity_extraction class="active item">Entity Extraction</a>
        <a href=sentiment_analysis class="item">Sentiment Analysis</a>
        <a href=qna class="item">Question and Answer</a>
      </div>
    </div>

    <div class="ui inverted vertical masthead center aligned segment" style='min-height: 300px;display: flex; align-items: center'>
      <div class="ui text container" style='text-align:center'>
        <h1 class="ui inverted header">Entity Extraction</h1>
        <h3>An information extraction technique that identifies key elements from text, then classifies them into predefined categories.</h3>
        <h3>Input text on the left to get started!</h3>
      </div>  
    </div>

    <div class="ui two column relaxed very horizontally padded grid" style='margin-top:20px'>

      <!-- Input Area -->
      <div class='column'>

          <!-- Input Text -->
          <div class="ui top attached tabular menu">
              <a class="active item" data-tab="input" style="font-size:20px" data-tooltip='Input text for analysis in tab here' data-position="top left">Input Text</a>
              <a class="item" data-tab="output" style="font-size:20px" data-tooltip='Highlights extracted entities from given input text' data-position="top left">Result</a>
          </div>
          <div class="ui bottom attached active tab segment" data-tab="input">
              <!-- <div class="ui raised segment"> -->
                  <div class="ui form">
                      <div class="field" id='fields'>
                        <textarea placeholder="e.g. My name is Clara and I am wearing a red dress." id="text" style="font-size:15px"></textarea>
                      </div>
                      <button class="ui button" type="submit" id='button' style="font-size:15px">Submit</button>
                      <div id='error-message'></div>
                  </div>
              <!-- </div> -->
          </div>
          <div class="ui bottom attached tab segment" data-tab="output">
              <div id = 'output-content'>
                  <div class="ui negative message">
                      <div class="header" style="font-size:20px">
                        No input found!
                      </div>
                      <p style="font-size:20px">Please input text and click on Submit once done.</p>
                  </div>
              </div>
          </div>
      </div>

      <!-- Output Area -->
      <div class='column'>
        <h2>Results <i class="small info circle icon" data-content="Groups and lists extracted entities in the categories below" data-position="top left"></i></h2>
        <div class='ui divider'></div>
          <!-- Entities -->
          <div class="ui segments">
              <div class='ui segment'>
                  <h2 class="ui dividing header">Entities</h2>
              </div>
              <div class="ui red segment">
                <div class="ui two column stackable grid">
                    <div class='column'>
                        <p style="font-size:20px; text-align:center">Person</p>
                    </div>
                    <div class='column'>
                  
                        <div id="person-content"></div>
    
                    </div>
                </div>
              </div>
              <div class="ui teal segment">
                  <div class="ui two column stackable grid">
                      <div class='column'>
                          <p style="font-size:20px; text-align:center">NRIC</p>
                      </div>
                      <div class='column'>
      
                          <div id="nric-content"></div>
      
                      </div>
                  </div>
              </div>
              <div class="ui purple segment">
                  <div class="ui two column stackable grid">
                      <div class='column'>
                          <p style="font-size:20px; text-align:center">Phone Number</p>
                      </div>
                      <div class='column'>
      
                          <div id="phone-content"></div>
                  
                      </div>
                  </div>
              </div>
              <div class="ui yellow segment">
                  <div class="ui two column stackable grid">
                      <div class='column'>
                          <p style="font-size:20px; text-align:center">Locations</p>
                      </div>
                      <div class='column'>
      
                          <div id="loc-content"></div>
      
                      </div>
                  </div>
              </div>
              <div class="ui blue segment">
                <div class="ui two column stackable grid">
                    <div class='column'>
                        <p style="font-size:20px; text-align:center">Objects</p>
                    </div>
                    <div class='column'>
    
                        <div id="obj-content"></div>
    
                    </div>
                </div>
            </div>
          </div>
      </div>

    </div>

    <script>
      // $('.menu .item').tab();
      $(document).ready(function(){
          $('.tabular.menu .item').tab({history:false});
      });
      $('.small.info.circle.icon').popup();
    </script>

    <!--Output Results-->

    <script type="text/javascript">
      function receiveData(response) {

            var divContent = "<p style='font-size:20px'>" + response.text + "</p>"; 

            $('#button').attr('class', 'ui button')

            // person
            let html_person = "";
            var person_color = 'red';

            for (let i = 0; i < response.person.length; i++) {
                html_person += "<a class='ui " + person_color + " label' style='font-size:15px'>" + response.person[i] + "</a>";
                var re = new RegExp(response.person[i], 'gi');
                var divContent = divContent.replace(re, "<a class='ui " + person_color + " label' style='font-size:20px' data-tooltip='Person'>" + response.person[i] + "</a>"); 
            }
            $("#person-content").html(html_person);            

            // location
            let html_loc = "";
            var loc_color = 'yellow';

            for (let i = 0; i < response.loc.length; i++) {
                html_loc += "<a class='ui " + loc_color + " label' style='font-size:15px'>" + response.loc[i] + "</a>";
                var re = new RegExp(response.loc[i], 'gi');
                var divContent = divContent.replace(re, "<a class='ui " + loc_color + " label' style='font-size:20px' data-tooltip='Location'>" + response.loc[i] + "</a>"); 
            }
            $("#loc-content").html(html_loc);

            // nric
            let html_nric = "";
            var nric_color = 'teal';
            for (let i = 0; i < response.nric.length; i++) {
                html_nric += "<a class='ui " + nric_color + " label' style='font-size:15px'>" + response.nric[i] + "</a>";
                var re = new RegExp(response.nric[i], 'g');
                var divContent = divContent.replace(re, "<a class='ui " + nric_color + " label' style='font-size:20px' data-tooltip='NRIC'>" + response.nric[i] + "</a>"); 
            }
            $("#nric-content").html(html_nric);

            // phone
            let html_phone = "";
            var phone_color = 'violet';
            for (let i = 0; i < response.phone.length; i++) {
                html_phone += "<a class='ui " + phone_color + " label' style='font-size:15px'>" + response.phone[i] + "</a>";
                var re = new RegExp(response.phone[i], 'g');
                var divContent = divContent.replace(re, "<a class='ui " + phone_color + " label' style='font-size:20px' data-tooltip='Phone Number'>" + response.phone[i] + "</a>"); 
            }
            $("#phone-content").html(html_phone);

            // objects
            let html_obj = "";
            var obj_color = 'blue';
            for (let i = 0; i < response.obj.length; i++) {
                html_obj += "<a class='ui " + obj_color + " label' style='font-size:15px'>" + response.obj[i] + "</a>";
                var re = new RegExp(response.obj[i], 'g');
                var divContent = divContent.replace(re, "<a class='ui " + obj_color + " label' style='font-size:20px' data-tooltip='Object'>" + response.obj[i] + "</a>"); 
            }
            $("#obj-content").html(html_obj);

            $("#output-content").html(divContent);
            // $.tab('change tab', 'output');
            $('.ui.menu').find('.item').tab('change tab', 'output');    
      }

      $("#button").click(function (e) {
            console.log("Performing entity extraction");
            let text = $("#text").val();
            if (!text) {
              $("#error-message").html('</br><div class="ui negative message"><div class="header">Submission Failed</div><p>Please ensure that all fields are filled up.</p></div>');
              $("#fields").attr('class', 'field error');
            }
            else{
                $("#error-message").html("");
                $("#fields").attr('class', 'field');
                $('#button').attr('class', 'ui loading button');
                $.post("http://127.0.0.1:5000/run-ee-main", {text: text}, receiveData);
            }
      });
    
    </script>


  </body>

</html>